# ---------------------------------
# WordPress Core
# ---------------------------------
/wp-admin/
/wp-includes/
/wp-*.php
/xmlrpc.php
/license.txt
/readme.html
/index.php
wp-config.php

# ---------------------------------
# wp-content Rules
# ---------------------------------
# 1. Ignore everything in wp-content
wp-content/*

# 2. Unlock the directories we need to look inside
!wp-content/mu-plugins/
!wp-content/themes/

# 3. Explicitly ignore other wp-content folders
wp-content/plugins/
wp-content/mu-plugins/
wp-content/uploads/
wp-content/cache/
wp-content/upgrade/
wp-content/languages/
wp-content/updraft/
# ---------------------------------
# Theme Rules
# ---------------------------------
# 4. Ignore all themes by default
wp-content/themes/*

# 5. UNLOCK YOUR SPECIFIC THEME
!wp-content/themes/Alceon/

# 6. Ignore node_modules inside your theme
wp-content/themes/Alceon/node_modules/

# 7. Ignore sensitive config files
wp-content/themes/Alceon/inc/employment-hero-config.php

# ---------------------------------
# Misc
# ---------------------------------
*.log
*.sql
*.vscode
*.sql.gz
*.code-workspace
.DS_Store
.env
/vendor/
node_modules/
*.zip
