.actions {
  border-top: rem(1.75) solid $lightGrey !important;

  .action-row {
    border-bottom: rem(1.75) solid $lightGrey !important;
    padding-bottom: 2rem;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
  }
  h3 {
    color: $primaryColor;
    margin-top: 0;
  }

  .btn {
    color: $brightBlue;
    border-color: $brightBlue;
    min-width: rem(120);
    text-decoration: none;

    &:hover {
      background: $brightBlue;
      color: #fff;
    }
  }
}
 