// Base style shared by all buttons
.btn-base {
  text-decoration: none;
  font-weight: 500;
  padding: rem(8) 1.25rem;
  border-radius: 50rem; // Bootstrap’s rounded-pill equivalent
  transition: all 0.25s ease;
  line-height: 1.3;
  &:hover {
    text-decoration: none;
  }
}

// -------------------------------------
// SOLID BUTTONS
// -------------------------------------

// Solid primary (for light backgrounds)
.btn-solid-primary,
.btn-primary {
  @extend .btn-base;
  background-color: $brightBlue;
  color: $white;
  border: 1px solid $brightBlue;

  &:hover,
  &:focus {
    background-color: darken($primaryColor, 8%);
    border-color: darken($primaryColor, 8%);
    color: $white;
  }
}

.btn--login {
  font-size: rem(14);
  text-transform: uppercase;
  font-weight: 600;
}
// Solid white (for dark backgrounds)
.btn-solid-white {
  @extend .btn-base;
  background-color: $white;
  color: $primaryColor;
  border: 2px solid $white;

  &:hover,
  &:focus {
    background-color: transparent;
    color: $white;
    border-color: $white;
  }
}

// -------------------------------------
// OUTLINE BUTTONS
// -------------------------------------

// Outline primary (for light backgrounds)
.btn-outline-primary {
  @extend .btn-base;
  color: $brightBlue;
  border: 2px solid $brightBlue;
  background-color: transparent;
  font-weight: 600;

  &:hover,
  &:focus {
    background-color: $brightBlue;
    border-color: $brightBlue;
    color: $white;
    text-decoration: none;
  }
}

// Outline white (for dark backgrounds)
.btn-outline-white {
  @extend .btn-base;
  color: $white;
  border: 2px solid $white;
  background-color: transparent;

  &:hover,
  &:focus {
    background-color: darken($primaryColor, 5%) !important;
    color: $white !important;
    border-color: darken($primaryColor, 5%) !important;
  }
}

.owl-item .btn-outline-white {
  &:hover,
  &:focus {
    background-color: $white;
    color: $primaryColor !important;
    border-color: $white;
  }
}
