.section-contact {

  h2 {
     max-width:rem(400);
  }
  p {
    max-width:rem(430);
  }
  position: relative;
  z-index: 1;
  color: #fff;
  background: linear-gradient(
    278.74deg,
    rgba(21, 92, 213, 0.85) 0%,
    rgba(21, 92, 213, 0.9) 29.55%,
    rgba(21, 92, 213, 0.95) 100%
  );
  overflow: hidden;
  min-height:rem(600);

  /* SVG lines via ::before */
  &::before {
    content: "";
    position: absolute;
    inset: 0; /* top:0, right:0, bottom:0, left:0 */
    background: url("../img/lines.svg") center/cover no-repeat;
    opacity: 0.3; /* control visibility of SVG lines */
    z-index: 0; /* stays behind content */
  }

  /* Ensure content stays above both layers */
  > * {
    position: relative;
    z-index: 1;
  }
}

.page-template-template-contact .section-contact::before {
  display:none;
}
