/* ===============================
   Stats Section
=============================== */

.stat-item {
  text-align: left;
}

.stat-number {
  font-size: rem(62);
  font-weight: 300;
  line-height: 1.1;
  margin-bottom: 0.5rem;
  color: #fff;

  @media (max-width: 480px) {
    font-size: rem(49) !important;
  }
}

.stat-text {
  font-size: 1rem;
  // line-height: 1.6;
  margin: 0;
}
