/* ===============================
   Stats Section
=============================== */

.stat-item {
  text-align: left;
}

.stat-number {
  font-size: rem(62);
  font-weight: 300;
  line-height: 1.1;
  margin-bottom: .5rem;
  color: #fff;
}

.stat-text {
  font-size: 1rem;
  // line-height: 1.6;
  margin: 0;
}
