// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/assets/bootstrap5/_variables.scss, paste it here and edit the value.

$primaryColor: #00457c;
$brightBlue: #155cd5;
$purple: #5533ff; // Thats a sample how you could change a BootStrap variable.
$primary: $purple; // Once we've changed the value, we'll also make it the primary brand color.
$mmBlue: #003c70;
$darkerBlue: #003763;
$trannyBlue: rgb(#00457c, 15%);
$trannyBlue2: rgb(#00457c, 25%);
$trannyBlue3: rgb(0 69 124 / 65%);
$widgetBg: #155cd5;
$borderColor: rgba(255, 255, 255, 0.15);

$bodyCopy: 'Onest', sans-serif;
$greyBg: #eee;
$medGrey: #e6e6e6 !important;
$darkGrey: #333;
$lightGrey: #ccc;
$white: #fff;
$black: #000;

$textColor: hsla(0, 0%, 20%, 1);
