
.banner {
    position: relative;
    overflow: hidden;
    height: 600px;
    padding: 0;
}
.banner-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.banner-background__image {
    width: 100%;
    height: 100%;
}
.banner-background__image--fixed-height-620 {
    height: 600px;
}
section.lead {
    background: #81a5a9;
    padding: 100px 0;
}
.lead--no-banner {
    padding-top: 200px;
}
.lead--dull-light-green {
    background: #CDD9D3;
}
.lead--purple {
    background:#A06E8A;
}
.lead-content__note h4 {
    color: #fff;
    margin-bottom: 10px;
}
.lead-content__heading {
    font-size: 1.6em;
    font-family: 'Playfair Display', serif;
    text-align: center;
    letter-spacing: 0.04em;
}
.lead-content__heading p {
    margin-bottom: 0;
}
.lead-content__heading--with-extra-copy p {
    font-size: .8em;
    margin-top: 30px;
    margin-bottom: initial;
}
.lead-content__heading--h1-reset h1 {
    font-size:1em!important;
    line-height:1.6!important;
}
.lead-content__descriptor {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: .7em;
    padding-bottom: 25px;
    position: relative;
}
.lead-content__seperator {
    width: 60px;
    height: 1px;
    background: #000;
    margin-bottom: 30px;
}
.lead-content__heading h1 {
    font-size: 1.8em;
    text-align: center;
    margin: 0;
}
.lead-content__recipe-servings {
    font-family: 'Playfair Display', serif;
    font-size: 1.15em;
}
.lead-media {
    position: relative;
}
.lead-media__image {
    position: absolute;
}