.site-footer-posts__latest-recipes li {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #353535;
}
.site-footer-posts__latest-recipes li a {
    color: #fff;
}
.site-footer-posts__title {
    display: block;
    color: #ffff;
    margin-bottom: 5px;
}
.site-footer-posts__date {
    font-family: 'Playfair Display', serif;
    font-style: italic;
}
.site-footer-posts__latest-recipes li:last-child {
    margin: 0;
    padding: 0;
    border: 0;
}

footer h5 {
    margin-bottom:14px;
}