.wpcf7 input, 
.wpcf7 textarea {
    width: 100%;
    border-radius: 0;
    border: 1px solid #000;
    outline: 0;
    padding: 15px;
    color: #000;
}

body .wpcf7 input[type="submit"] {
    display: inline-block;
    padding: 13px 25px;
    max-width: 170px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    font-size: 0.95em;
    letter-spacing: 0.115em;
    color: #fff !important;
    background: #000;
    transition: all .5s ease;
    line-height: 1.6;
    border-radius: 0;
    border: 0;
    outline: 0; 
    cursor: pointer;
}