.home,
.page-template-template-store,

body {

    .hero,
    .large-hero {
        background-size:cover;
        min-height:90vh;
        background-attachment:fixed;
        background-position:center center;

       @media (max-width:1200px){
            min-height:60vh;
                background-attachment:scroll;
       }
    }

    

    .nav-scroller {
        background-color: rgba(0,0,0,0.4);
    }
}


.page-template-template-store .hero {
    background-position:top center;
}


body.page-template-template-wholesale .hero {

     min-height:800px; 
    @media (max-width:1200px){
            min-height:90vh;
                background-attachment:scroll;
       }

        @media (max-width:1000px){
            min-height:70vh;
                background-attachment:scroll;
       }

       @media (max-width:800px){
            min-height:60vh;
                background-attachment:scroll;
       }


    
       @media (max-width:600px){
            min-height:50vh;
                background-attachment:scroll;
       }

       @media (max-width:500px){
            min-height:42vh;
                background-attachment:scroll;
       }



    
}