.lead-content__heading {
    font-size: 1.6em;
    font-family: 'Playfair Display', serif;
    text-align: center;
    letter-spacing: 0.04em;
}

/* Recipes */

.recipes-intro-filter {
    position: relative;
    margin-bottom: 30px;
}
.recipes-intro-filter__heading h3 {
    margin-bottom: 15px;
    font-style: inherit;
}
.recipes-intro-filter__product-list {
    font-size: .8em;
    position: absolute;
    z-index: 1;
    transition: all .25s ease;
    opacity: 0;
    top: 30px;
    pointer-events: none;
}
.recipes-intro-filter__product-list--active {
    opacity: 1;
    top: 90px;
    pointer-events: unset;
}
.recipes-intro-filter__trigger-bar button {
    background: #fff;
    border: 1px solid #000;
    padding: 15px 30px;
    font-size: .8em;
    text-transform: uppercase;
    color: #000;
    position: relative;
    border-radius: 0;
    z-index: 2;
    outline: 0;
    cursor: pointer;
}
.recipes-intro-filter__trigger-bar--active button:focus {
    background: #dedede;
}
.recipes-intro-filter__trigger-bar button svg {
    margin-left: 10px;
    transition: all .25s ease;
}
.recipes-intro-filter__trigger-bar--active button svg {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
}
.recipes-intro-filter__product-list {
    font-size: .8em;
}
.recipes-intro-filter__product-list li {
    width: 250px;
    display: block;
}
.recipes-intro-filter__product-list li a {
    padding: 10px;
    background: #ededed;
    border-bottom: 1px solid #fff;
    display: block;
}
.recipes-intro-filter__product-list li a:hover {
    background:#f9f9f9;
}
.recipe-intro-tile {
    position: relative;
    margin-bottom: 50px;
}
.recipe-intro-tile__link-layover {
    position: absolute;
    height: 100%;
    width: 100%;
}
.recipe-intro-tile-media__image {
    height: 400px;
    width:auto;
}
.recipe-intro-tile-details {
    padding: 30px;
    background: #f9f9f9;
    min-height: 200px;
    border-radius: 0 0 50px 0;
}
.recipe-intro-tile-details__heading h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}
.recipe-intro-tile-details__tags {
    margin-bottom: 15px;
}
.recipe-intro-tile-details__pill {
    background: #80a5a9;
    padding: 5px 10px;
    margin-right: 5px;
    font-size: 0.75em;
    color: #fff;
    border-radius: 8px 0;
}
.recipe-intro-tile-details__people-served {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.75em;
}
.recipe-intro-tile-details__people-number {
    font-family: 'Playfair Display', serif;
    font-size: 1.75em;
    font-style: italic;
}

/* Recipes Single */

.recipes-single-intro__note h4 {
    margin-bottom: 5px;
}
.recipes-single-intro-content--spaced {
    margin-top: 50px;
}
.recipes-single-intro-content__ingredients {
    margin: -5px 0 0 -5px;
}
.recipes-single-intro-content__ingredients li {
    padding: 5px 10px;
    margin: 5px;
    border-left: 3px solid lighten($primaryColor,15%);
    display: inline-block;
    font-size: .9em;
    background: #f9f9f9;
}
.recipes-single-intro-content__preparation li {
    position: relative;
    margin-bottom: 30px;
    padding: 20px;
    background: #f9f9f9;
    border-left: 5px solid $primaryColor;
}
.recipes-single-intro-content__counter {
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 0.8em;
    position: relative;
    display: block;
    font-family: 'Playfair Display', serif;
    margin: 0;
}
.recipes-single-intro-content__seperator {
    display: inline-block;
    width: 60px;
    height: 1px;
    background: #dedede;
    margin: 10px 0 5px;
}
.recipes-single-intro-content__instruction {
    display: block;
}
.recipes-single-intro-content__product-list li {
    margin-bottom: 30px;
}
.recipes-single-intro-content__product-list li:last-child {
    margin-bottom: 0;
}
.recipes-single-intro-content__product-image {
    width: 100px;
    display: inline-block;
    margin-right: 20px;
    vertical-align: top;
}
.recipes-single-intro-content__product-name {
    width:70%;
    width: calc(100% - 130px);
    display: inline-block;
    vertical-align: top;
}
.recipes-single-intro-content__product-name span {
    display: inline-block;
}
.recipes-single-intro-media {
    margin-bottom: 50px;
}

.position--objectfit img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    display: block;
}


.site-footer-posts__latest-recipes li {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #353535;
}

.site-footer-posts__title {
    display: block;
    margin-bottom: 5px;
    color:#111;
}
.site-footer-posts__date {
    font-family: 'Playfair Display', serif;
    font-style: italic;
}
.site-footer-posts__latest-recipes li:last-child {
    margin: 0;
    padding: 0;
    border: 0;
}

